@import "../../scss/responsive.scss";

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        transition: all 0.3s ease-in-out;

        @include small_screen {
            display: none;
        }

        &:hover {
            background-color: rgb(244, 201, 144);
            padding: 0% 20px;
            border-radius: 5px;
            scale: 1.05;
        }
    }

    .left {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 40px;

        .logo {
            font-size: 30px;
            font-weight: bold;
            display: flex;
            gap: 10px;
            align-items: center;

            img {
                width: 65px;
                height: 65px;
            }

            span {
                @include medium_screen {
                    display: none;
                }

                @include small_screen {
                    display: initial;
                }
            }
        }
    }

    .right {
        flex: 2;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        background-color: rgb(244, 201, 144);
        height: 100%;

        @include medium_screen {
            background-color: transparent;
        }

        a {
            padding: 10px 20px;
            margin: 10px;
        }

        .login {
            background-color: rgb(8, 235, 163);
            border-radius: 5px;
        }

        .register {
            background-color: rgb(51, 255, 0);
            border-radius: 5px;
        }

        .menuIcon {
            display: none;
            z-index: 1000;

            img {
                width: 40px;
                height: 40px;
                cursor: pointer;
            }

            @include small_screen {
                display: inline;
            }
        }

        .menu {
            position: absolute;
            top: 0;
            right: -50%;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%;
            transition: right 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 30px;


            &.active {
                right: 0;
            }

            @include small_screen {
                a {
                    display: initial;
                }
            }
        }
    }
}